<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |item|}}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.notes}}</td>
      </tr>

      {{/each}}
      <tr>
        <td>{{input type="text" value=name class="form-control"}}</td>
        <td>{{input type="text" value=quantity class="form-control"}}</td>
        <td>{{input type="text" value=notes class="form-control"}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default pull-right" {{action 'saveItem'}}>Add item</button>
</div>
